<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">cami</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.arobs.project.book.Book"></mapping>
        <mapping class="com.arobs.project.bookRent.BookRent"></mapping>
        <mapping class="com.arobs.project.bookRequest.BookRequest"></mapping>
        <mapping class="com.arobs.project.copy.Copy"></mapping>
        <mapping class="com.arobs.project.employee.Employee"></mapping>
        <mapping class="com.arobs.project.rentRequest.RentRequest"></mapping>
        <mapping class="com.arobs.project.tag.Tag"></mapping>
    </session-factory>
</hibernate-configuration>